<section class="feature">
    <h3 id="app-bundle">Application (project) bundle</h3>

    <div class="fs-container float-left">
        <ul class="fs-tree">
            <li class="dir">
                src/KnpRad
                <ul>
                    <li class="dir">
                        Controller
                        <ul>
                            <li class="file php">MainController.php</li>
                        </ul>
                    </li>
                    <li class="dir">
                        Tests
                        <ul>
                            <li class="file php">SomeModelTest.php</li>
                        </ul>
                    </li>
                    <li class="dir">
                        Resources
                        <ul>
                            <li class="dir">
                                config
                                <ul>
                                    <li class="file yml">routing.yml</li>
                                    <li class="file yml">services.yml</li>
                                </ul>
                            </li>
                            <li class="dir">
                                translations
                                <ul>
                                    <li class="file yml">messages.fr.yml</li>
                                </ul>
                            </li>
                            <li class="dir">
                                public
                                <ul>
                                    <li class="file js">js/jquery.js</li>
                                    <li class="file css">css/style.scss</li>
                                </ul>
                            </li>
                            <li class="dir">
                                views
                                <ul>
                                    <li class="dir">
                                        Main
                                        <ul>
                                            <li class="file twig">index.html.twig</li>
                                        </ul>
                                    </li>
                                    <li class="file twig">layout.html.twig</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div style="float:right;width:58%;">
    <p>
        Instead of having many bundles that house your application code,
        RAD creates a single, "application" bundle for your code. This bundle
        is special compared to 3rd party bundles. And you could have only one per project.
    </p>

    <ol>
        <li><code>Controller</code> holds all your controllers. Refer to them via the shorter <code>App:CONTROLLER:ACTION</code> syntax.</li>
        <li><code>Tests</code> holds all your tests. The inner folder hierarchy should follow your project's one.</li>
        <li><code>Resources</code> holds your resources</li>
    </ol>
    </div>
</section>
